* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  height: 100vh;
}

.pole-hry {
  background-color: #283e50;
  width: 50vw;
  align-self: center;
}

header {
  width: 100%;
}

h1 {
  font-size: 60px;
  color: white;
  text-align: center;
}

p {
  font-size: 20px;
  color: white;
  text-align: center;
}

.tlacitka {
  font-size: 20px;
}

a {
  color: white;
  text-align: center;
  text-decoration: none;
}

a .pravidla {
  background-color: #1fcca4;
}
