* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  padding: 0;
  margin: 0;
}

.pole-hry,
.pravidla-blok {
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  max-width: 640px;
  height: auto;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.uvodni {
  border-radius: 10px 10px 0 0;
}

h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

p {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  text-align: center;
  margin: 2rem;
  padding-bottom: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
}

.kolecko,
.krizek {
  filter: invert(100%);
}

a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  width: 100%;
}

.pravidla {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.tlacitkoDomu {
  background-color: #1fcca4;
  border-radius: 5%;
}

.tlacitkoReset {
  border-radius: 5%;
}

a.pravidla,
.tlacitkoDomu:hover,
:focus {
  background-color: #1cbb96;
}

.tlacitkoDomu:focus {
  background-color: #1cbb96;
}

.uvodni-stranka {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

a.uvodni-stranka:hover {
  background-color: #1cbb96;
}

.zacit-hrat,
.tlacitkoReset {
  background-color: #0197f6;
}

a.zacit-hrat,
.tlacitkoReset:hover {
  background-color: #0090e9;
}

.tlacitkoReset:focus {
  background-color: #0090e9;
}

.obrazky-polozka {
  font-size: 20px;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
}

li {
  color: white;
  font-family: sans-serif;
}

.obrazek-obrazek {
  max-width: 100%;
}

figcaption {
  color: white;
  font-family: sans-serif;
}

.plochaHry {
  max-width: 80vmin;
  margin: 2rem auto 1rem auto;
}

.horniCast {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  text-transform: uppercase;
}

.hraje {
  margin: auto 0 auto 0;
}

.tlacitka {
  padding-top: 1rem;
  margin: auto 0 2rem 0;
}

.policka {
  display: flex;
  flex-wrap: wrap;
  border: #283e50 solid 1px;
  max-width: 80vmin;
  height: 80vmin;
  padding: 0;
  flex-grow: 1;
}

button {
  background-color: #ffc8da;
  border: #283e50 solid 1px;
  width: 10%;
}

button:hover,
:focus {
  background-color: white;
}

@media (min-width: 450px) {
  .uvodni-stranka {
    width: 100%;
  }

  .obrazky {
    display: flex;
    flex-wrap: wrap;
  }

  .obrazky-polozka {
    max-width: 30%;
  }

  .obrazek-obrazek {
    height: fit-content;
  }
}

@media (min-width: 960px) {
  .obrazky {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  .obrazky-polozka {
    max-width: 30%;
  }

  .obrazek-obrazek {
    height: fit-content;
  }

  .pravidla-blok {
    max-width: 60%;
  }
}
